@media screen and (max-width: 1199px){
    h2{
        font-size: 40px;
    }
    .logo{
        width: 200px;
        height: 24px;
    }
    .city-select-sec {
        padding: 130px 0 80px;
    }
    .city-select-sec h2{
        font-size: 42px;
    }
    .header-inner{
        padding: 16px 30px;
    }

    .testiminial-slider .swiper-pagination{
        gap: 40px;
    }
}

@media screen and (max-width: 1023px){
    .city-select-sec h2{
        font-size: 38px;
    }
    .btn{
        padding: 8px 12px;
        font-size: 16px;
    } 
    .best-property-sec{
        padding: 48px 0 25px;
    }
    .city-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .city-grid .city-item:last-child {
        border-bottom-right-radius: 10px;
    }
    .city-grid .city-item:nth-child(7) {
        border-top-right-radius: 0;
    }
    .city-grid .city-item:nth-child(7n+1):nth-last-child(-n+7) {
        border-bottom-left-radius: 0;
        border-left: 0;
    }
    .city-grid .city-item:nth-child(-n + 7){
        border-top: 0;
    }
    .city-grid .city-item:nth-child(7n):nth-last-child(-n+8) {
        border-bottom-right-radius: 0;
    }


    .city-grid .city-item:nth-child(4) {
        border-top-right-radius: 10px;
    }
    .city-grid .city-item:nth-child(-n + 4){
        border-top: 1px solid #65656580;
    }
    .city-grid .city-item:nth-child(4n+1){
        border-left: 1px solid #65656580;
    }
    .city-grid .city-item:nth-child(4n+1):nth-last-child(-n+4) {
        border-bottom-left-radius: 10px;
    }
    .city-grid .city-item:nth-child(4n):nth-last-child(-n+5) {
        border-bottom-right-radius: 10px;
    }
    .testiminial-slider .swiper-slide{
        opacity: 1;
    }
}

@media screen and (max-width: 991px){
    body{
        font-size: 12px;
        line-height: 150%;
    }
    h3{
        font-size: 16px;
        line-height: 12px;
        margin: 0 0 26px;
        line-height: normal;
    }
    .btn-transparent{
        border-radius: 10px;
    }
    .why-choose-sec{
        padding: 48px 0 55px;
    }
    .why-choose-sec .container{
        position: relative;
    }
    .why-choose-inn{
        margin-bottom: 0;
    }
    .choose-active-sec h3{
        font-size: 20px;
    }
    .why-choose-sec .row{
        row-gap: 30px;
        position: relative;
    }
    .why-choose-sec .btn{
        margin: 30px 0 0;
        position: absolute;
        bottom: -60px;
        left: 12px;
    }
    h2{
        font-size: 30px;
    }
    .city-select-sec h2{
        font-size: 32px;
    }
    .header-inner{
        padding: 12px 18px;
    }
    .btn{
        padding: 5px 16px;
        font-size: 12px;
        line-height: 150%;
    }
    .city-select-sec {
        padding: 120px 0 50px;
    }

    .faq-sec .accordion-item{
        padding: 30px;
    }
    .faq-sec .accordion-button{
        font-size: 20px;
    }
    .faq-sec .accordion-button::after {
        height: 32px;
        width: 32px;
        background-size: 32px 32px;
    }
    .faq-sec .accordion-body{
        font-size: 16px;
        line-height: 150%;
    }
    .testiminial-slider .swiper-pagination{
        gap: 20px;
    }
    .feature-section .row{
        row-gap: 30px;
    }

    .best-property-sec h3 span {
        margin-right: 10px;
        font-size: 13px;
    }
}

@media screen and (max-width: 767px){
    .city-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .city-grid .city-item:nth-child(4) {
        border-top-right-radius: 0;
    }
    .city-grid .city-item:nth-child(-n + 4){
        border-top: 0;
    }
    .city-grid .city-item:nth-child(4n+1){
        border-left: 0;
    }
    .city-grid .city-item:nth-child(4n+1):nth-last-child(-n+4) {
        border-bottom-left-radius: 0;
    }
    .city-grid .city-item:nth-child(4n):nth-last-child(-n+5) {
        border-bottom-right-radius: 0;
    }
    

    .city-grid .city-item:nth-child(3) {
        border-top-right-radius: 10px;
    }
    .city-grid .city-item:nth-child(-n + 3){
        border-top: 1px solid #65656580;
    }
    .city-grid .city-item:nth-child(3n+1){
        border-left: 1px solid #65656580;
    }
    .city-grid .city-item:nth-child(3n+1):nth-last-child(-n+3) {
        border-bottom-left-radius: 10px;
    }
    .city-grid .city-item:nth-child(3n):nth-last-child(-n+3) {
        border-bottom-right-radius: 10px;
    }
    h2{
        font-size: 26px;
    }
    .header-inner{
        border-radius: 15px;
    }
    .logo{
        width: 140px;
        height: 23px;
    }
    .city-select-sec{
        text-align: center;
    }
    .city-select-sec p{
        margin-bottom: 0;
    }
    .city-select-sec h2{
        font-size: 28px;
        margin: 0 0 20px;
    }
    .city-select-inner{
        gap: 10px;
    }
    .city-select-inner select {
        padding: 11px 28px 11px 48px;
        border-radius: 10px;
        background-size: 14px 14px, 6px 4px;
        background-position: 16px center, calc(100% - 14px) center;
    }
    .search-btn{
        font-size: 0;
        padding: 0;
        border-radius: 10px;
        width: 52px;
        height: 47px;
    }
    .search-btn img{
        height: 12px;
        width: 12px;
        margin: 0;
        display: block;
        object-fit: contain;
    }
    .whatsApp{
        display: none;
    }
    .city-select-sec {
        padding: 105px 0 45px;
    }
    .choose-active-sec h3{
        font-size: 14px;
        margin: 0 0 10px;
    }
    .best-property-sec{
        padding: 25px 0;
    }
    .best-propert-detail{
        padding-bottom: 17px;
    }

    .testimonial-para{
        font-size: 12px;
        line-height: 20px;
        margin: 20px 0;
    }

    .faq-sec .accordion-item{
        padding: 20px;
    }
    .faq-sec .accordion-button{
        font-size: 16px;
        font-weight: 500;
    }
    .faq-sec .accordion-button::after {
        height: 28px;
        width: 28px;
        background-size: 28px 28px;
    }
    .faq-sec .accordion-body{
        font-size: 12px;
    }

    footer{
        padding: 28px 0 33px;
    }
    .footer-logo{
        width: 74px;
        height: 23px;
        margin: 0 0 20px;
    }

    footer .row{
        row-gap: 34px;
    }
    .footer-bottom{
        margin-top: 31px;
        padding: 0;
        border-top: 0;
        gap: 0;
    }
    .footer-bottom p{
        margin-bottom: 0;   
    }
    .social-links{
        order: -1;
        padding-bottom: 31px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--white-color);
        width: 100%;
        justify-content: flex-start;
    }

    .feature-inner{
        padding: 42px 15px;
    }
    .feature-icon{
        height: 96px;
        width: 96px;
        margin: 0 auto 42px;
    }
    .feature-inner h4{
        margin: 0 0 24px;
    }
    .testiminial-slider .swiper-wrapper{
        flex-wrap: wrap;
        gap: 30px;
    }
    .testiminial-slider .swiper-pagination{
        display: none;
    }
    .property-detail-section h2{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 15px;
    }
    .property-detail-section{
        padding: 25px 0;
    }
    .property-detail-info .btn{
        width: 100%;
    }
}

@media screen and (max-width: 575px){
    h2{
        font-size: 22px;
        line-height: 120%;
        margin: 0 0 30px;
    }
    .city-select-sec h2{
        font-size: 24px;
    }
}